.space69{height:69px; clear:both; font-size:69px}


.videobuttons {
        max-width: 1140px;
        margin: 0 auto;
        padding: 0 20px;
        justify-content: center;
        display:grid;
    /*
        text-align: center;
        align-items: center;  */
    }

.nav-tabs {
    border: none !important;

    max-width: 930px;
    margin:auto; 
    
}

ul#VideosBlog {
    /*
    margin: 0px 0 69px 0;
    padding: 0px;
    display: flex;
    
    */
}

ul#VideosBlog li {
    margin: auto 7px;
    
    font-size: 14px;
    /*
    font-family: 'sf_pro_displaysemibold';
    letter-spacing: 0.4px;
    text-align: center; */
}

ul#VideosBlog a.nav-link {
    padding: 8px 31px!important;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f9f9f9+0,f0f0f0+100 */
    background: #f9f9f9; /* Old browsers */
    background: -moz-linear-gradient(top,  #f9f9f9 0%, #f0f0f0 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #f9f9f9 0%,#f0f0f0 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #f9f9f9 0%,#f0f0f0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
    color: #000;
    border-radius: 8px;
    border: 1px solid #dbdbdb;
}

ul#VideosBlog a.nav-link.active {
    border-radius: 8px;
    border: solid 1px #dbdbdb;
    background: #309fdd!important;
    color: #ffffff!important;
}
.video-item-wrap {
    margin: 0px 0 35px 0;
    padding: 0 0px;
}
.videos-description {
    margin: 0px;
    padding: 13px 0 0 3px;
    display: block;
    position: relative;
}
.video-title h5 {
    /* font-family: SFProDisplay; */
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #040404;
}
.video-title {
    margin: 0px;
    padding: 0px;
    display: block;
    width: 100%;
}

.video-views {
    margin: 0px;
    padding: 0px 40px 0 0;
    display: block;
    font-family: 'sf_pro_displaylight';
    font-size: 13px;
    position: relative;
}
.video-views span {
    padding: 0 20px 0 0;
    display: inline-block;
    float: left;
}
.video-views span:first-child:after {
    content: '\2022';
    font-size: 20px;
    line-height: 0;
    vertical-align: initial;
    top: 8px;
    margin: 0 0 0 6px;
    display: inline-block;
    position: absolute;
}
.videos-tags {
    margin: 0px;
    padding: 0px;
    display: block;
    position: relative;
    clear: both;
}
.videos-tags span {
    margin: 0 3px 0 0;
    padding: 4px 8px;
    font-family: 'sf_pro_displaybold';
    font-size: 7px;
    text-transform: uppercase;
    color: #FFF;
    letter-spacing: 0.73px;
    border-radius: 2px;
}
.videos-tags span a{
    text-decoration: none;
}
span.video-type {
    background-color: #00bf7c;
    /* font-size: 9px; */
}
span.movies-cat {
    background: #7950f0;
}
span.business-cat{
    background: #b84a9d;
}
span.design-cat{
    background: #7957EC;
}






/***********************************************************************/


@media (max-width: 766px) {
 
     
    
    
    
}